:root {
    --fg-one: #432000;
    --fg-two: #FDFDFD;

    --bg-one: #EEF0F4;
    --bg-two: #DCE1EB;

    --ac-one: #AC485A;
    --ac-two: #432000;
}


html, body {
    margin: 0;
    padding: 0;
    
    color: var(--fg-one);

    background-color: var(--bg-one);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 430px;

    margin: 25px auto;
}


img {
    max-width: 120px;
    margin: 0 auto;
}

input {
    width: 80%;

    padding: 12px;
    margin: 8px 0;

    text-align: center;
    color: var(--fg-one);
    font-size: 1.05rem;

    border: none;
    border-radius: 8px;
    background-color: var(--bg-two);
}
input:focus {
    outline-color: var(--ac-one);
}

button {
    width: 87%;

    padding: 12px;
    margin: 8px 0;
    
    text-align: center;
    color: var(--fg-two);
    font-size: 1.05rem;
    
    border: none;
    border-radius: 8px;
    background-color: var(--ac-one);

    transition: all 150ms ease-in-out;
}
button:hover,
button:focus {
    background-color: var(--ac-two);
}
#list-box {
    width: 100%;
}

#list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;

    width: 80%;

    padding: 10px;
    margin: 0 auto;
}

#list li {
    flex-grow: 1;


    padding: 10px;

    text-align: center;
    color: var(--fg-one);
    font-size: 1.05rem;

    border: none;
    border-radius: 8px;
    background-color: var(--bg-two);
    
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);

    transition: all 150ms ease-in-out;
}

#list li:hover,
#list li:focus {
    color: var(--fg-two);
    background-color: var(--ac-one);
}